wlv-schema.rnc

start = wlv
wlv = element wlv { id, url, metadata, labels }
id = attribute id { text }
url = attribute url { text }
metadata = element metadata { title, editor, institution?, city?, date, licence, curators? }
title = element title { text }
editor = element editor { text, ref? }
ref = attribute ref { text }
institution = element institution { text, url? }
city = element location { text, ref? }
date = element date { xsd:int | xsd:date }
licence = element licence { text, url, key? }
key = attribute key { text }
curators = element curators { curator+ }
curator = element curator { text, id, ref? }
labels = element labels { label+ } 
label = element label { id, curatorid, curationDate, url?, part+ }
curatorid = attribute curatorid { text }
curationDate = attribute curationDate { xsd:int | xsd:date }
part = element part { partNum, partType, physical, visual, textual }
partNum = attribute partNum { xsd:int }
partType = attribute partT { "front" | "back" | "neck" | "band" }
physical = element physical { shape, sizeH, sizeV, material }
shape = attribute shape { "square" | "circle" | "rectangle" | "oval" | "diamond" | "trapezoid" | "other" }
sizeH = attribute sizeH { xsd:int } # mm
sizeV = attribute sizeV { xsd:int } # mm
material = attribute material { "paper" | "plastic" }
visual = element visual { frame?, background?, figure* }
frame = element frame { text, frameType, frameColor }
frameType = attribute frameType { "lines" | "floral" | "band" | "other" }
frameColor = attribute frameColor { "black" | "grey" | "gold" | "red" | "green" | text }
background = element background { text, backgroundStyle }
backgroundStyle = attribute backgroundStyle { "pattern" | "color" | "none" }
figure = element figure { text, figureNum, figureType, figurePosition? }
figureNum = attribute figureNum { xsd:int }
figureType = attribute figureType { "symbolic" | "realistic" | "seal" | "coat-of-arms" }
figurePosition = attribute figurePosition { "upper-left" | "upper-right" | "upper-center" | "upper-across" |  "center-left" | "center-right" | "center-center" | "center-across" | "lower-left" | "lower-right" | "lower-center" | "lower-across" | "left-across" | "center-across" | "right-across" | "full-size" }
textual = element textual { origin* & millesime? & wineName? & grapeVariety* & qualityIndicator* & wineCharacter* & wineColor* & agent* & location* & alcohol? & volume? & controlNumber? & motto? & coatText? & barrelNumber? & otherText? }
origin = element origin { text, ref?, originType, originNorm?, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle? }
originType = attribute originType { "vineyard" | "wine-region" | "country-of-production" }
originNorm = attribute originNorm { string }
fontType = attribute fontType { "Fraktur" | "Antiqua-Sans" | "Antiqua-Serif" | "Cursive" }
fontStyle = attribute fontStyle { "recte" | "italics" | "small-caps" | "all-caps" | text }
fontColor = attribute fontColor { text | "red" | "black" } # HTML color names
fontInitials = attribute fontInitials { text | "red" | "black" } # HTML color names
fontSize = attribute fontSize { "larger" | "normal" | "smaller" }
millesime = element millesime { text, millesimeNorm, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle? }
millesimeNorm = attribute millesimeNorm { xsd:int }
wineName = element wineName { text, ref?, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle? }
grapeVariety = element grapeVariety { text, ref? }
qualityIndicator = element qualityIndicator { text, ref?, qualityIndicatorType, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle? }
qualityIndicatorType = attribute qualityIndicatorType { "grapes" | "vinification" | "classification" | "award" | "bottling" | "other" }
wineCharacter = element wineCharacter { text, wineCharacterNorm?, ref?, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle?  }
wineCharacterNorm = attribute wineCharacterNorm { "trocken" | "feinherb" | "halbtrocken" | "lieblich" | "other" }
wineColor = element wineColor { text, wineColorNorm?, ref?, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle?  }
wineColorNorm = attribute wineColorNorm { "red" | "white" | "rose" | "rotling" | "other" }
agent = element agent { text, agentRole, ref?, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle?  }
agentRole = attribute agentRole { "producer" | "bottler" | "distributor" | "importer" | "cooperative" | "association" | "printer" | "artist" | "other" }
location = element location { text, locationRole, locationType, ref?, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle?  }
locationRole = attribute locationRole { "producer" | "bottler" | "distributor" | "importer" | "cooperative" | "association" | "printer" | "artist" | "other" | "producer-distributor" | "bottler-distributor" }
locationType = attribute locationType { "vineyard" | "village" | "city" | "region" | "country" }
alcohol = element alcohol { text, alcoholNorm, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle?  }
alcoholNorm = attribute alcoholNorm { xsd:int } # percent
volume = element volume { text, volumeNorm, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle?  }
volumeNorm = attribute volumeNorm { xsd:int } # milliliter
controlNumber = element controlNumber { text, ref?, controlNumberType?, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle? }
controlNumberType = attribute controlNumberType { text | "Amtliche Prüfnummer (Q480240)" }
motto = element motto { text, mottoType, figureNum?, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle? }
mottoType = attribute mottoType { "stand-alone" | "in-figure" }
coatText = element coatText { text, figureNum?, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle? }
barrelNumber = element barrelNumber { text, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle? }
otherText = element otherText {text, otherTextType, fontType?, fontColor?, fontSize?, fontInitials?, fontStyle? }
otherTextType = attribute otherTextType { "association" | "description" | "administrative" | "other" | text }
