resources/wlv-label-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="wlv" />
  </start>
  <define name="wlv">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The root element in a label description using the Wine Label Vocabulary.</a:documentation>
    <element>
      <name ns="">wlv</name>
      <ref name="labelID" />
      <optional>
        <ref name="labelType" />
      </optional>
      <ref name="metadata" />
      <choice>
        <ref name="labelGroup" />
        <ref name="label" />
      </choice>
      <optional>
        <ref name="comments" />
      </optional>
      <optional>
        <ref name="provenance" />
      </optional>
      <optional>
        <ref name="relations" />
      </optional>
    </element>
  </define>
  <define name="ID">
    <attribute>
      <name ns="">ID</name>
        <text/>
    </attribute>
  </define>
  <define name="labelID">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A unique identifier for the label.</a:documentation>
    <attribute>
      <name ns="">labelID</name>
      <text />
    </attribute>
  </define>
  <!--
  ========================================
  ======      NORMDATEN              =====
  ========================================  
  -->
  <define name="norm">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(normalized data) Contains authority file data and other stable and unique identifiers. Sources include: Wikidata, Register-Nummer der Weinlagen, Gemeinsame Normdaten-Datei, and others. Can relate to locations, agents, vineyards, items depicted in visual form, and other standardized vocabulary. </a:documentation>
    <attribute>
      <name ns="">norm</name>
      <choice>
        <!-- Bildelemente: Artefakte, Personen, Fauna, Flora, Bauwerke, Landschaft, Sonstiges -->
        <value>Artefakt: Banderole (Q2689628)</value>
        <value>Artefakt: Becher (Q81727)</value>
        <value>Artefakt: Brezel (Q160525)</value>
        <value>Artefakt: Boot (Q35872)</value>
        <value>Artefakt: Globus (Q133792)</value>
        <value>Artefakt: Gemälde (Q3305213)</value>
        <value>Artefakt: Fahrzeug (Q42889)</value>
        <value>Artefakt: Harfe (Q47369)</value>
        <value>Artefakt: Harpune (Q207574)</value>
        <value>Artefakt: Helm (Q910873)</value>
        <value>Artefakt: Hut (Q80151)</value>
        <value>Artefakt: Krone (Q170984)</value>
        <value>Artefakt: Krug (Q766983)</value>
        <value>Artefakt: Medaille (Q131647)</value>
        <value>Artefakt: Musikinstrument (Q)</value>
        <value>Artefakt: Ornament (Q335261)</value>
        <value>Artefakt: Pfeil (Q45922)</value>
        <value>Artefakt: Rad (Q446)</value>
        <value>Artefakt: Säule (Q4817)</value>
        <value>Artefakt: Schiff (Q11446)</value>
        <value>Artefakt: Siegel (Q162919)</value>
        <value>Artefakt: Schild (Q131559)</value>
        <value>Artefakt: Schlüssel (Q132041)</value>
        <value>Artefakt: Schwert (Q12791)</value>
        <value>Artefakt: Sockel/Podest (Q12014132)</value>
        <value>Artefakt: Stoff (Q5849500)</value>
        <value>Artefakt: Vase (Q191851)</value>
        <value>Artefakt: Wage (Q134566)</value>
        <value>Artefakt: Wappen (Q14659)</value>
        <value>Artefakt: Weinglas (Q1531435)</value>
        <value>Artefakt: Weinflasche (Q23490)</value>
        <value>Artefakt: Weinfass (Q10289)</value>
        <value>Artefakt: Trichter ( Q29957)</value>
        <value>Artefakt: Lampe, inkl. Laterne (Q1138737)</value>    
        <value>Artefakt: Stiefel (Q190868)</value>
        <value>Artefakt: Siegel (Q162919)</value>
        <value>Artefakt: Stempel (Q57305415)</value>
        <value>Artefakt: Schnur (Q31029)</value>
        <value>Artefakt: Etikett (Q722218)</value>
        <value>Artefakt: Gitarre, inkl. Mandoline (Q6607)</value>
        <value>Artefakt: Kostüm, inkl. Tracht (Q1410477)</value>
        <value>Fauna: Hase (Q46076)</value>
        <value>Fauna: Adler (Q2092297)</value>
        <value>Fauna: Bär (Q30090244)</value>
        <value>Fauna: Feder (Q81025)</value>
        <value>Fauna: Flügel (Q161358)</value>
        <value>Fauna: Hund (Q144)</value>
        <value>Fauna: Katze (Q146)</value>
        <value>Fauna: Katze (Q146)</value>
        <value>Fauna: Löwe (Q140)</value>
        <value>Fauna: Pferd (Q726)</value>
        <value>Fauna: Ochse (Q473194)</value>
        <value>Fauna: Reh/Hirsch (Q29838690)</value>
        <value>Fauna: Schaf (Q7368)</value>
        <value>Fauna: Spinne (Q1357)</value>
        <value>Fauna: Vogel (Q5113)</value>
        <value>Flora: Baum (Q10884)</value>
        <value>Flora: Blume (Q886167)</value>
        <value>Flora: Blüte (Q506)</value>
        <value>Flora: Pflanze (Q756)</value>
        <value>Flora: Weintraube (Q10978)</value>
        <value>Flora: Weinblätter (Q33971)</value>
        <value>Flora: Weinstock (Q2135068)</value>
        <value>Flora: Wurzel (Q41500)</value>
        <value>Bauwerk: Burg (Q23413)</value>
        <value>Bauwerk: Brücke (Q12280)</value>
        <value>Bauwerk: Dock (Q124282)</value>
        <value>Bauwerk: Dorf (Q532)</value>
        <value>Bauwerk: Gebäude (Q41176)</value>
        <value>Bauwerk: Fenster (Q35473)</value>
        <value>Bauwerk: Interieur (Q2998430)</value>
        <value>Bauwerk: Keller (Q43275450)</value>
        <value>Bauwerk: Kirchengebäude (Q16970)</value>
        <value>Bauwerk: Mauer (Q42948)</value>
        <value>Bauwerk: Stadt (Q532)</value>
        <value>Bauwerk: Straße (Q34442)</value>
        <value>Bauwerk: Tor/Türe (Q36794)</value>
        <value>Bauwerk: Treppe (Q12511)</value>
        <value>Bauwerk: Turm (Q12518)</value>
        <value>Bauwerk: Zaun (Q148571)</value>
        <value>Landschaft: Ufer (Q468756)</value>
        <value>Landschaft: Fluss (Q4022)</value>
        <value>Landschaft: Hügel (Q54050)</value>
        <value>Landschaft: Weinberg (Q22715)</value>
        <value>Person: Mann (Q8441)</value>
        <value>Person: Frau (Q467)</value>
        <value>Person: Kind (Q7569)</value>
        <value>Person: Mensch (Q5)</value>
        <value>Person: Minnesänger (Q841192)</value>
        <value>Person: Personengruppe (Q16334295)</value>
        <value>Sonstiges: Ritter (Q102083)</value>
        <value>Sonstiges: Satyr (Q163709)</value>
        <value>Sonstiges: Engel (Q235113)</value>
        <value>Sonstiges: Drache (Q7559)</value>
        <value>Sonstiges: Stern (Q523)</value>
        <value>Sonstiges: Mond (Q405)</value>
        <value>Sonstiges: Sonne (Q525)</value>
        <value>Sonstiges: Schatten (Q160020)</value>
        <!-- QualityGrapes -->
        <value>QualityGrapes: Kabinett</value>
        <value>QualityGrapes: Spätlese</value>
        <value>QualityGrapes: Auslese</value>
        <value>QualityGrapes: Beerenauslese</value>
        <value>QualityGrapes: Trockenbeerenauslese (Q1639847)</value>
        <value>QualityGrapes: Eiswein</value>
        <value>QualityGrapes: other</value>
        <!-- Länder -->
        <value>Land: Deutschland (Q183)</value>
        <!-- Bereiche -->
        <value>Bereich: Mosel-Saar-Ruwer (Q672776)</value>
        <!-- Leitgemeinden -->
        <value>Leitgemeinde: Bernkastel-Kues (Q643228)</value>
        <value>Leitgemeinde: Brauneberg (Q567156)</value>
        <value>Leitgemeinde: Wiltingen (Q161930)</value>
        <value>Leitgemeinde: Winningen (Q822358)</value>
        <value>Leitgemeinde: Zell (Q187500)</value>
        <!-- Andere Orte -->
        <value>Ort: Filzen (Q47087896)</value>
        <value>Ort: Freudenberg am Main (Q61827)</value>
        <value>Ort: Graach (Q648808)</value>
        <value>Ort: Ober-Ingelheim (Q2008825)</value>
        <value>Ort: Trittenheim (Q662479)</value>
        <value>Ort: Pünderich (Q567287)</value>
        <!-- Großlagen / Einzellagen / Parzellen -->
        <value>Großlage: Schwarze Katz (Q2253665)</value>
        <value>Parzelle: Vollmühle</value>
        <value>Einzellage: Deutschherrenberg</value>
        <!-- Millesime / Jahrgang -->
        <value>Jahrgang: ####</value>
        <!-- Rebsorten -->
        <value>Rebsorte (weiss): Riesling (Q456471)</value>
        <value>Rebsorte (weiss): Müller-Thurgau / Rivaner (Q681670)</value>
        <value>Rebsorte (weiss): Sauvignon Blanc</value>
        <value>Rebsorte (weiss): Elbling</value>
        <value>Rebsorte (weiss): Grauburgunder</value>
        <value>Rebsorte (weiss): Chardonnay</value>
        <value>Rebsorte (weiss): Auxerrois</value>
        <value>Rebsorte (weiss): Weißburgunder</value>
        <value>Rebsorte (weiss): other</value>
        <value>Rebsorte (rot): Spätburgunder</value>
        <value>Rebsorte (rot): other</value>
        <!-- Weinfarbe (wine color) -->
        <value>Weinfarbe: Rotwein</value>
        <value>Weinfarbe: Weisswein</value>
        <value>Weinfarbe: Rosé/Rotling</value>
        <value>Weinfarbe: other</value>
        <!-- Weingeschmack (wine taste) -->
        <value>Geschmack: dry (trocken)</value>
        <value>Geschmack: semi-dry (halbtrocken / feinherb)</value>
        <value>Geschmack: semi-sweet (lieblich)</value>
        <value>Geschmack: sweet (süß)</value>
        <value>Geschmack: other</value>
        <!-- Weinlagerung oder -ausbau (wine aging) -->
        <value>WineAging: Barrique-Ausbau</value>
        <value>WineAging: Flaschengärung</value>
        <!-- Weinqualität (wine quality) -->
        <value>Weinqualität: Prädikatswein</value>
        <value>Weinqualität: Tafelwein/Wein</value>
        <value>Weinqualität: Landwein</value>
        <value>Weinqualität: Qualitätswein</value>
        <value>other</value>
        <!-- Traubenqualität (quality of the grapes) -->
        <value>Traubenqualität: Kabinett</value>
        <value>Traubenqualität: Spätlese</value>
        <value>Traubenqualität: Auslese</value>
        <value>Traubenqualität: Beerenauslese</value>
        <value>Traubenqualität: Trockenbeerenauslese</value>
        <value>Traubenqualität: Eiswein</value>
        <value>Traubenqualität: other</value>
        <!-- Agent: Weingut -->
        <value>Weingut: Weingut Maximin Grünhaus (Q2556072)</value>
        <value>Weingut: #### (Q)</value>
        <!-- Agent: Vertrieb -->
        <value>Vertrieb: Karl Ziegler</value>
        <text />
      </choice>
    </attribute>
  </define>
  <define name="uri">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(uniform resource identifier) Für einen Link zu weiteren Informationen.</a:documentation>
    <attribute>
      <name ns="">uri</name>
      <choice>
        <text />
        <value>https://creativecommons.org/licenses/by/4.0/</value>
        <value>https://github.com/dh-trier/wlv</value>
      </choice>
    </attribute>
  </define>
  <!--
  ========================================
  ======        METADATEN            =====
  ========================================  
  -->
  <define name="metadata">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">One of two mandatory top-level elements. Contains metadata related to the label description itself.</a:documentation>
    <element>
      <name ns="">metadata</name>
      <ref name="collection" />
      <ref name="curation" />
      <optional>
        <ref name="uri" />
      </optional>
      <zeroOrMore>
        <ref name="licence" />
      </zeroOrMore>
      <optional>
        <ref name="collectionContext" />
      </optional>
      <optional>
        <ref name="comments" />
      </optional>
    </element>
  </define>
  <define name="collection">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The wine label collection the label belongs to.</a:documentation>
    <element>
      <name ns="">collection</name>
      <ref name="collectionID" />
      <optional>
        <text />
      </optional>
    </element>
  </define>
  <define name="collectionID">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A unique identifier for the wine label collection.</a:documentation>
    <attribute>
      <name ns="">collectionID</name>
      <text />
    </attribute>
  </define>
  <define name="curation">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information on the curation process of the wine label description.</a:documentation>
    <element>
      <name ns="">curation</name>
      <oneOrMore>
        <ref name="curatorID" />
      </oneOrMore>
      <ref name="curationDate" />
      <optional>
        <ref name="curationUpdate" />
      </optional>
    </element>
  </define>
  <define name="curatorID">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A unique identifier for the person that has curated the wine label description.</a:documentation>
    <attribute>
      <name ns="">curatorID</name>
      <text />
    </attribute>
  </define>
  <define name="curationDate">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The date (or year) when the wine label description was created.</a:documentation>
    <attribute>
      <name ns="">curationDate</name>
      <choice>
        <data type="int" />
        <data type="date" />
      </choice>
    </attribute>
  </define>
  <define name="curationUpdate">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The date (or year) when the wine label description was last updated.</a:documentation>
    <attribute>
      <name ns="">curationUpdate</name>
      <choice>
        <data type="int" />
        <data type="date" />
      </choice>
    </attribute>
  </define>
  <define name="collectionContext">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any information that describes the individual label in the context of the collection, for example its location in the collection.</a:documentation>
    <element>
      <name ns="">collectionContext</name>
      <optional>
        <ref name="pageID" />
      </optional>
      <optional>
        <ref name="scanID" />
      </optional>
      <optional>
        <text />
      </optional>
    </element>
  </define>
  <define name="pageID">
    <attribute>
      <name ns="">pageID</name>
      <text />
    </attribute>
  </define>
  <define name="scanID">
    <attribute>
      <name ns="">scanID</name>
      <text />
    </attribute>
  </define>
  <define name="licence">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The name of the licence used for the data.</a:documentation>
    <element>
      <name ns="">licence</name>
      <text />
      <optional>
        <ref name="uri" />
      </optional>
      <optional>
        <ref name="licenceAbbr" />
      </optional>
      <ref name="licenceScope" />
    </element>
  </define>
  <define name="licenceAbbr">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Abbreviation for the licence.</a:documentation>
    <attribute>
      <name ns="">licenceAbbr</name>
      <choice>
        <text />
        <value>CC BY</value>
        <value>public domain</value>
      </choice>
    </attribute>
  </define>
  <define name="licenceScope">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The scope of the licence: The part or aspect of the label or label description to which the licence apply.</a:documentation>
    <attribute>
      <name ns="">licenceScope</name>
      <choice>
        <text />
        <value>all</value>
        <value>markup</value>
        <value>visual</value>
        <value>metadata</value>
        <value>textual</value>
      </choice>
    </attribute>
  </define>
  <!--
  ========================================
  ======        LABEL                =====
  ========================================  
  -->
  <define name="labelGroup">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A container element to group physically separate labels belonging to one bottle. A label group must have at least one label, but can contain several labels. (If only one label is present, it is recommended not to use labelGroup.)</a:documentation>
    <element>
      <name ns="">labelGroup</name>
      <optional>
        <ref name="comments" />
      </optional>
      <oneOrMore>
        <ref name="label" />
      </oneOrMore>
      <optional>
        <ref name="provenance" />
      </optional>
    </element>
  </define>
  <define name="labelType">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">This describes the label primarily with regard to the agent issuing it and the geographical scope.</a:documentation>
    <attribute>
      <name ns="">labelType</name>
      <choice>
        <value>Lageetikett</value>
        <value>Gutsetikett</value>
        <value>Ortsetikett</value>
        <value>Weingutsetikett</value>
        <value>Händleretikett</value>
        <value>Musteretikett</value>
        <value>tbc</value>
        <value>other</value>
        <text />
      </choice>
    </attribute>
  </define>
  <define name="comments">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any comment on the label or the label description, written in prose by the curator(s).</a:documentation>
    <element>
      <name ns="">comments</name>
      <text />
    </element>
  </define>
  <define name="label">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(label) Any single label or physically separate part of a label group.</a:documentation>
    <element>
      <name ns="">label</name>
      <ref name="physical" />
      <ref name="visual" />
      <ref name="textual" />
      <optional>
        <ref name="labelPosition" />
      </optional>
      <optional>
        <ref name="relations" />
      </optional>
    </element>
  </define>
  <define name="labelPosition">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The position of the label on the bottle, used in particular as a way to disinguish the different labels in a label group.</a:documentation>
    <attribute>
      <name ns="">labelPosition</name>
      <choice>
        <value>front</value>
        <value>back</value>
        <value>neck</value>
        <value>wraparound</value>
        <value>band</value>
      </choice>
    </attribute>
  </define>
  <!--
  ========================================
  ======        PHYSICAL             =====
  ========================================  
  -->
  <define name="physical">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the physical aspects of the label, in particular shape, size and material.</a:documentation>
    <element>
      <name ns="">physical</name>
      <ref name="shape" />
      <optional>
      <ref name="sizeH" />
      </optional>
      <optional>
      <ref name="sizeV" />
      </optional>
      <optional>
      <ref name="material" />
      </optional>
      <optional>
        <ref name="printingTechnique" />
      </optional>
    </element>
  </define>
  <define name="shape">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the shape of the physical label.</a:documentation>
    <attribute>
      <name ns="">shape</name>
      <choice>
        <value>square</value>
        <value>circle</value>
        <value>rectangle</value>
        <value>oval</value>
        <value>diamond</value>
        <value>trapezoid</value>
        <value>octogon</value>
        <value>circular</value>
        <value>ellipsoid</value>
        <value>polygon</value>
        <value>free-form</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="sizeH">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The height of the label measured in millimeters. (This attribute is mandatory, but can also take the value "tbc" if the size data is not available.)</a:documentation>
    <attribute>
      <name ns="">sizeH</name>
      <choice>
        <data type="int" />
      </choice>
    </attribute>
  </define>
  <define name="sizeV">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The width of the label measured in millimeters. (This attribute is mandatory, but can also take the value "tbc" if the size data is not available.)</a:documentation>
    <attribute>
      <name ns="">sizeV</name>
      <choice>
        <data type="int" />
      </choice>
    </attribute>
  </define>
  <define name="material">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The material from which the label is made (in most cases, this is paper).</a:documentation>
    <attribute>
      <name ns="">material</name>
      <choice>
        <value>paper</value>
        <value>plastic</value>
        <value>metal</value>
        <value>mixed</value>
        <value>undetermined</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="printingTechnique">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The technical printing process used for printing the visual and/or textual information onto the base material.</a:documentation>
    <attribute>
      <name ns="">printingTechnique</name>
      <choice>
        <value>lithograph</value>
        <value>offset</value>
        <value>moving-type</value>
        <value>litho+type</value>
        <value>mixed</value>
        <value>undetermined</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <!--
  ========================================
  ======        VISUAL               =====
  ========================================  
  -->
  <define name="visual">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any visual and non-textual or non-linguistic elements discernible on the label.</a:documentation>
    <element>
      <name ns="">visual</name>
      <interleave>
        <zeroOrMore>
          <ref name="frame" />
        </zeroOrMore>
        <oneOrMore>
          <ref name="background" />
        </oneOrMore>
        <zeroOrMore>
          <ref name="figure" />
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="frame">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information about the frame of the label.</a:documentation>
    <element>
      <name ns="">frame</name>
      <optional>
        <ref name="ID" />
      </optional>
      <optional>
        <ref name="frameType" />
      </optional>
      <optional>
       <ref name="frameStyle" />
      </optional>
      <optional>
        <ref name="frameColor" />
      </optional>
    </element>
  </define>
  <define name="frameStyle">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The visual style of the frame.</a:documentation>
    <attribute>
      <name ns="">frameStyle</name>
      <choice>
        <value>line(s)</value>
        <value>band</value>
        <value>floral</value>
        <value>pattern</value>
        <value>ornamental line(s)</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="frameType">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The type of frame, defined based on its position relative to other elements of the label. The value 'outer' means all other elements are within the frame. The value 'inner' means some of the other elements of the label are within, others are outside the frame.</a:documentation>
    <attribute>
      <name ns="">frameType</name>
      <choice>
        <value>outer</value>
        <value>inner</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="frameColor">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The color of the frame.</a:documentation>
    <attribute>
      <name ns="">frameColor</name>
      <choice>
        <value>black</value>
        <value>grey</value>
        <value>gold</value>
        <value>red</value>
        <value>green</value>
        <value>blue</value>
        <value>silver</value>
        <text />
      </choice>
    </attribute>
  </define>
  <define name="background">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information about the background of the label. Needs to be filled in only if there is some special background, other than the blank paper, to the visual and/or textual information provided.</a:documentation>
    <element>
      <name ns="">background</name>
      <ref name="backgroundColor" />
      <optional>
        <ref name="ID" />
      </optional>
      <optional>
        <ref name="backgroundStyle" />
      </optional>
    </element>
  </define>
  <define name="backgroundStyle">
    <a:documentation>The kind of background, whether a pattern, a flat color plane, or an absence of any pattern or color.</a:documentation>
    <attribute>
      <name ns="">backgroundStyle</name>
      <choice>
        <value>pattern</value>
        <value>color</value>
        <value>none</value>
      </choice>
    </attribute>
  </define>
  <define name="backgroundColor">
    <a:documentation>The dominant color tone, whether it is strong or faint.</a:documentation>
    <attribute>
      <name ns="">backgroundColor</name>
      <choice>
        <value>red</value>
        <value>blue</value>
        <value>green</value>
        <value>yellow</value>
        <value>grey</value>
        <value>white</value>
        <value>black</value>
        <value>gold</value>
        <text />
      </choice>
    </attribute>
  </define>
  <define name="figure">
    <a:documentation>(figure) Any visual, figurative element on the label. The label is classified as to its type and position using the attributes. It can be described in the element content using a simple list of terms mentioning each recognizable element of the figure. (In a future iteration of WLV, a controlled vocabulary of visual elements commonly found on wine labels will be made available for this purpose.)</a:documentation>
    <element>
      <name ns="">figure</name>
      <oneOrMore>
        <ref name="figureItem" />
      </oneOrMore>
      <optional>
      <ref name="figureType" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="ID" />
      </optional>
    </element>
  </define>
  <define name="figureType">
    <a:documentation>(figure type) Allows a simple classification of figures into common types.</a:documentation>
    <attribute>
      <name ns="">figureType</name>
      <choice>
        <value>symbolic</value>
        <a:documentation>(figure type: symbolic) Used for any figure that uses realistic elements in a stylized manner.</a:documentation>
        <value>realistic</value>
        <a:documentation>(figure type: realistic) Used for any figure that represents elements from the real world in a recognizable, realistic manner.</a:documentation>
        <value>abstract</value>
        <a:documentation>(figure type: abstract) Used for any figure that predominantly uses abstract shapes, forms and lines without representing a clearly-recognizable element from the real world.</a:documentation>
        <value>seal</value>
        <a:documentation>(figure type: seal) Used for any representation of a seal.</a:documentation>
        <value>coat-of-arms</value>
        <a:documentation>(figure type: coat-of-arms) Used for any representation of a coat of arms.</a:documentation>
        <value>other</value>
        <a:documentation>(figure type: other) To be used sparingly for any kind of figure that eludes classification.</a:documentation>
      </choice>
    </attribute>
  </define>
  <define name="position">
    <a:documentation>(position) The position of a visual or textual element on the label surface, in a grid of nine quadrants. The quadrants are numbered like on the number-pad of a phone, starting at the top left with 1 and ending at the bottom right with 9. Any quadrant that the figure covers to a significant extent is included in the position description. </a:documentation>
    <attribute>
      <name ns="">position</name>
      <data type="int" />
    </attribute>
  </define>
  <define name="figureItem">
    <a:documentation>(figure item) A visual element or depicted object that can be identified in the figure.</a:documentation>
    <element>
      <name ns="">figureItem</name>
      <ref name="norm" />
      <optional>
        <ref name="ID" />
      </optional>
    </element>
  </define>
  <!--
  ===========================
  ===== FONT ATTRIBUTES =====
  ===========================
  -->
  <define name="fontAttributes">
    <optional>
      <attribute>
        <name ns="">fontType</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding class of historical font types such as Fraktur and Antiqua.</a:documentation>
        <choice>
          <value>Fraktur</value>
          <value>Antiqua-Sans</value>
          <value>Antiqua-Serif</value>
          <value>Cursive</value>
          <value>Altdeutsch</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontManner</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the type of application method of the letters to the paper.</a:documentation>
        <choice>
          <value>printed</value>
          <value>handwritten</value>
          <value>stamped</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontStyle</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the font variant used, such as italics or small caps. Does not need to be specified if it is recte.</a:documentation>
        <choice>
          <value>recte</value>
          <value>italics</value>
          <value>small-caps</value>
          <value>all-caps</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontColor</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The color of the writing.</a:documentation>
        <choice>
          <value>red</value>
          <value>black</value>
          <value>larger</value>
          <text />
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontInitials</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the visual properties of the initials, in particular regarding the color and size of the initials.</a:documentation>
        <choice>
          <value>color:red</value>
          <value>color:black</value>
          <value>color:other</value>
          <value>size:larger</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontSize</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information about the approximate, relative font size within the label.</a:documentation>
        <choice>
          <value>larger</value>
          <value>normal</value>
          <value>smaller</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
  =====================================
  ======         TEXTUAL          =====
  =====================================
  -->
  <define name="textual">
    <element>
      <name ns="">textual</name>
      <interleave>
        <oneOrMore>
          <choice>
            <ref name="wineMillesime" />
            <ref name="wineName" />
          </choice>
        </oneOrMore>
        <zeroOrMore>
          <ref name="wineGrapes" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="wineTaste" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="wineAging" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="wineOther" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityGrapes" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityLevel" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityAward" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityLabel" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityProduction" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityHistorical" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="agent" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="location" />
        </zeroOrMore>
        <optional>
          <ref name="alcohol" />
        </optional>
        <optional>
          <ref name="volume" />
        </optional>
        <optional>
          <ref name="controlNumber" />
        </optional>
        <optional>
          <ref name="barrelNumber" />
        </optional>
        <optional>
          <ref name="labelNumber" />
        </optional>
        <zeroOrMore>
          <ref name="otherText" />
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="wineMillesime">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The year that the wine was harvested in.</a:documentation>
    <element>
      <name ns="">wineMillesime</name>
      <text />
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="ID" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineName">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The name of the wine. Typically printed in a somewhat larger font size than other information. For historical wine labels of the Mosel region, the wine name is typically composed of a location  (Ort, Gemeinde, Leitgemeinde) and the name or nickname of the specific vineyard belonging to that location. Note that the element 'wineName' has, as a consequence, an empty child element 'location' that can appear more than once and may hold information about the location and the vineyard separately.</a:documentation>
    <element>
      <name ns="">wineName</name>
      <text />
      <zeroOrMore>
        <ref name="agent" />
      </zeroOrMore>
      <zeroOrMore>
        <ref name="location" />
      </zeroOrMore>
      <zeroOrMore>
        <ref name="qualityGrapes" />
      </zeroOrMore>
      <zeroOrMore>
        <ref name="qualityLabel" />
      </zeroOrMore>
      <zeroOrMore>
        <ref name="qualityLevel" />
      </zeroOrMore>
      <zeroOrMore>
        <ref name="wineGrapes" />
      </zeroOrMore>
      <optional>
        <ref name="wineNameType" />
      </optional>
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="uri" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="fontAttributes" />
      </optional>
      <optional>
        <ref name="ID" />
      </optional>
    </element>
  </define>
  <define name="wineNameType">
    <attribute>
      <name ns="">wineNameType</name>
      <choice>
        <value>country / Land</value>
        <value>region / Gebiet</value>
        <value>area / Bereich</value>
        <value>locality / Ortsname</value>
        <value>locality / Leitgemeinde</value>
        <value>winery / Weingut</value>
        <value>vineyard / historischer Lagenname</value>
        <value>vineyard / Lage</value>
        <value>vineyard / Großlage</value>
        <value>vineyard / Einzellage</value>
        <value>variety / Rebsorte</value>
        <value>composite</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="wineColor">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The color of the name as mentioned on the label.</a:documentation>
    <element>
      <name ns="">wineColor</name>
      <text />
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineGrapes">
    <element>
      <name ns="">wineGrapes</name>
      <text />
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineTaste">
    <element>
      <name ns="">wineTaste</name>
      <text />
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineAging">
    <element>
      <name ns="">wineAging</name>
      <text />
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineOther">
    <element>
      <name ns="">wineOther</name>
      <text />
      <optional>
        <ref name="wineOtherType" />
      </optional>
      <optional>
        <ref name="norm" />
      <optional>
        <ref name="position" />
      </optional>
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineOtherType">
    <attribute>
      <name ns="">wineOtherType</name>
      <choice>
        <value>additives</value>
        <value>usage</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="wdw">
    <attribute>
      <name ns="">wdw</name>
      <choice>
        <text />
        <value>http://wdw.uni-trier.de/onlinewb/index.php3?ID</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityGrapes">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indications referring to the quality of the grapes, like "Spätlese",  "Auslese" or "Trockenbeerenauslese".</a:documentation>
    <element>
      <name ns="">qualityGrapes</name>
      <text />
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityLevel">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indications referring to the official quality level of the wine, like "Qualitätswein" or "Prädikatswein".</a:documentation>
    <element>
      <name ns="">qualityLevel</name>
      <text />
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityAward">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indications referring to an award obtained by the wine.</a:documentation>
    <element>
      <name ns="">qualityAward</name>
      <text />
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="qualityAwardNorm" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityAwardNorm">
    <attribute>
      <name ns="">qualityAwardNorm</name>
      <choice>
        <value>Weinprämierung</value>
        <value>Gütezeichen</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityLabel">
    <element>
      <name ns="">qualityLabel</name>
      <text />
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="qualityLabelType" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityLabelType">
    <attribute>
      <name ns="">qualityLabelType</name>
      <choice>
        <value>vineyard</value>
        <value>grapes</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityProduction">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any information describing specific steps in or aspects of the production of the wine that are meant to positively influence the quality of the resulting wine. An example is the mention of the fact that the wine has been bottled at the property. (For the quality specifically of the grapes, including the selection process of the grapes, use 'qualityGrapes' instead.)</a:documentation>
    <element>
      <name ns="">qualityProduction</name>
      <text />
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="qualityProductionNorm" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityProductionNorm">
    <attribute>
      <name ns="">qualityProductionNorm</name>
      <choice>
        <value>on-location</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityHistorical">
    <element>
      <name ns="">qualityHistorical</name>
      <text />
       <optional>
        <ref name="position" />
      </optional>
     <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="agent">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any agent, whether a person (like a wine-maker or trader) or an organization (like a wine trading company or a printing enterprise), mentioned on the label.</a:documentation>
    <element>
      <name ns="">agent</name>
      <text />
      <optional>
      <ref name="agentRole" />
      </optional>
       <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="uri" />
      </optional>
      <optional>
        <ref name="fontAttributes" />
      </optional>
       <optional>
        <ref name="ID" />
      </optional>
   </element>
  </define>
  <define name="agentRole">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The particular role of the agent, as far as it can be determined from the label itself or from contextual information. (TODO: authority data and definitions for these roles.)</a:documentation>
    <attribute>
      <name ns="">agentRole</name>
      <choice>
        <value>cultivation / Anbau</value>
        <value>production / Weinbau</value>
        <value>distribution / Vertrieb</value>
        <value>cooperative / Kooperative</value>
        <value>printer / Drucker</value>
        <value>artist / Künstler/in</value>
        <value>multiple / verschiedene</value>
        <value>other / andere</value>
      </choice>
    </attribute>
  </define>
  <define name="location">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any location, such as the name of a region, city, village, or vineyard mentioned on the label.</a:documentation>
    <element>
      <name ns="">location</name>
      <text />
      <optional>
        <ref name="locationType" />
      </optional>
      <optional>
        <ref name="locationRole" />
      </optional>
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="uri" />
      </optional>
      <ref name="fontAttributes" />
      <optional>
        <ref name="ID" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
    </element>
  </define>
  <define name="locationRole">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The role of the location.</a:documentation>
    <attribute>
      <name ns="">locationRole</name>
      <choice>
        <value>cultivation / Anbau</value>
        <value>production / Weinbau</value>
        <value>distribution / Vertrieb</value>
        <value>cooperative / Kooperative</value>
        <value>printer / Drucker</value>
        <value>artist / Künstler/in</value>
        <value>multiple / verschiedene</value>
        <value>other / andere</value>
      </choice>
    </attribute>
  </define>
  <define name="locationType">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The type of the location, in particular with respect to the broader or narrower geographical scope. (Note that when this is part of the wine name, it is correlated, in German wine law, with quality levels.)</a:documentation>
    <attribute>
      <name ns="">locationType</name>
      <choice>
        <value>country / Land</value>
        <value>region / Gebiet</value>
        <value>area / Bereich</value>
        <value>locality / Ortsname</value>
        <value>locality / Leitgemeinde</value>
        <value>winery / Weingut</value>
        <value>vineyard / historischer Lagenname</value>
        <value>vineyard / Großlage</value>
        <value>vineyard / Einzellage</value>
        <value>vineyard / Lage</value>
        <value>vineyard / Parzelle</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="alcohol">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information relevant to the alcohol content of the wine.</a:documentation>
    <element>
      <name ns="">alcohol</name>
      <text />
       <optional>
        <ref name="position" />
      </optional>
      <ref name="alcoholNorm" />
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="alcoholNorm">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The percentage of alcohol, expressed as number (float).</a:documentation>
    <attribute>
      <name ns="">alcoholNorm</name>
      <data type="float" />
    </attribute>
  </define>
  <define name="volume">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the volume of the wine.</a:documentation>
    <element>
      <name ns="">volume</name>
      <text />
       <optional>
        <ref name="position" />
      </optional>
       <optional>
      <ref name="volumeNorm" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="volumeNorm">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The indication of the volume of wine, expressed as a number (integer of milliliters).</a:documentation>
    <attribute>
      <name ns="">volumeNorm</name>
      <data type="int" />
    </attribute>
  </define>
  <define name="controlNumber">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The control number that is required for more recent labels.</a:documentation>
    <element>
      <name ns="">controlNumber</name>
      <text />
      <optional>
        <ref name="position" />
      </optional>
      <optional>
        <ref name="norm" />
      </optional>
      <optional>
        <ref name="controlNumberType" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="controlNumberType">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A legally-defined control number, for example the German "Amtliche Prüfnummer".</a:documentation>
    <attribute>
      <name ns="">controlNumberType</name>
      <choice>
        <text />
        <value>Amtliche Prüfnummer (Q480240)</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">See Wikipedia: "Die erste Ziffer kennzeichnet die Prüfstelle, die dem Wein die Amtliche Prüfungsnummer zugeteilt hat (1 = Koblenz; 2 = Wittlich; 3 = Trier; 4 = Alzey; 5 = Neustadt; 6,7 = Bad Kreuznach...). Die nächsten drei Ziffern stehen für die Gemeinde in der der Antragsteller seinen Betriebssitz hat. Die Ziffern fünf bis sieben sind die Betriebsnummer des Abfüllers. Die nächsten drei Ziffern beziffern die Füllung eines Betriebes als laufende Nummer. Aus den letzten zwei Ziffern wird das Jahr der Antragstellung ersichtlich." </a:documentation>
        <value>Losnummer</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="barrelNumber">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The number of the barrel as mentioned on the label.</a:documentation>
    <element>
      <name ns="">barrelNumber</name>
      <text />
      <optional>
        <ref name="ID" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="labelNumber">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The number or identifyer of the label usually assigned by the printer.</a:documentation>
    <element>
      <name ns="">labelNumber</name>
      <text />
      <optional>
        <ref name="ID" />
      </optional>
      <optional>
        <ref name="position" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="otherText">
    <element>
      <name ns="">otherText</name>
      <optional>
        <ref name="ID" />
      </optional>
      <ref name="textType" />
      <optional>
        <ref name="position" />
      </optional>
      <ref name="textPosition" />
      <text />
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="textType">
    <attribute>
      <name ns="">textType</name>
      <choice>
        <value>coat-text</value>
        <value>motto</value>
        <value>quotation</value>
        <value>slogan</value>
        <value>statement</value>
        <value>copyright</value>
        <value>vineyard (Lage)</value>
        <value>website</value>
        <value>recommendation</value>
        <value>warning</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="textPosition">
    <attribute>
      <name ns="">textPosition</name>
      <choice>
        <value>stand-alone</value>
        <value>in-figure</value>
      </choice>
    </attribute>
  </define>
  <!--
  =====================================
  ======         PROVENANCE       =====
  =====================================
  -->
  <define name="provenance">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the provenance of the label, in prose. This information can be derived either from the label itself, or from contextual or otherwise external information.</a:documentation>
    <element>
      <name ns="">provenance</name>
      <optional>
        <ref name="dating" />
      </optional>
      <optional>
        <ref name="source" />
      </optional>
      <optional>
        <ref name="scan" />
      </optional>
      <optional>
        <ref name="conservation" />
      </optional>
    </element>
  </define>
  <define name="dating">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the supposed time of production of the label (especially relevant if no millesime is present.</a:documentation>
    <element>
      <name ns="">dating</name>
      <optional>
        <ref name="year" />
      </optional>
      <optional>
        <ref name="notBefore" />
      </optional>
      <optional>
        <ref name="notAfter" />
      </optional>
      <optional>
        <ref name="certainty" />
      </optional>
      <optional>
        <text />
      </optional>
    </element>
  </define>
  <define name="year">
    <attribute>
      <name ns="">year</name>
      <data type="gYear" />
    </attribute>
  </define>
  <define name="notBefore">
    <attribute>
      <name ns="">notBefore</name>
      <data type="int" />
    </attribute>
  </define>
  <define name="notAfter">
    <attribute>
      <name ns="">notAfter</name>
      <data type="int" />
    </attribute>
  </define>
  <define name="certainty">
    <attribute>
      <name ns="">certainty</name>
      <choice>
        <value>source</value>
        <value>evidence</value>
        <value>estimate</value>
        <value>low</value>
      </choice>
    </attribute>
  </define>
  <define name="source">
    <element>
      <name ns="">source</name>
      <text />
      <optional>
        <ref name="year" />
      </optional>
    </element>
  </define>
  <define name="scan">
    <element>
      <name ns="">scan</name>
      <ref name="scanID" />
      <optional>
        <text />
      </optional>
    </element>
  </define>
  <define name="conservation">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the state of physical conservation of the label, in the form of a prose description.</a:documentation>
    <element>
      <name ns="">conservation</name>
      <ref name="conservationNorm" />
      <text />
    </element>
  </define>
  <define name="conservationNorm">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the state of physical conservation of the label, in short normed form.</a:documentation>
    <attribute>
      <name ns="">conservationNorm</name>
      <choice>
        <value>new</value>
        <value>like new</value>
        <value>very good</value>
        <value>good</value>
        <value>acceptable</value>
        <value>damaged</value>
        <value>incomplete</value>
      </choice>
    </attribute>
  </define>
  <define name="relations">
    <element>
      <name ns="">relations</name>
      <oneOrMore>
        <ref name="relation" />
      </oneOrMore>
    </element>
  </define>
  <define name="relation">
    <element>
      <name ns="">relation</name>
      <ref name="relType" />
      <ref name="relItems" />
      <optional>
        <ref name="ID" />
      </optional>
    </element>
  </define>
  <define name="relType">
    <attribute>
      <name ns="">relType</name>
      <choice>
        <value>equivalence</value>
        <value>similarity</value>
        <value>contrast</value>
        <value>text-in-image</value>
        <value>image-in-text</value>
        <value>image-in-image</value>
        <value>other</value>
        <text/>
      </choice>
    </attribute>
  </define>
  <define name="relItems">
    <attribute>
      <name ns="">relItems</name>
        <text/>
    </attribute>
  </define>
</grammar>
