schemas/wlv-label-schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="wlv" />
  </start>
  <define name="wlv">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The root element in a label description using the Wine Label Vocabulary.</a:documentation>
    <element>
      <name ns="">wlv</name>
      <ref name="labelID" />
      <optional>
        <ref name="labelType" />
      </optional>
      <ref name="metadata" />
      <choice>
        <ref name="labelGroup" />
        <ref name="label" />
      </choice>
    </element>
  </define>
  <define name="labelID">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A unique identifier for the label.</a:documentation>
    <attribute>
      <name ns="">labelID</name>
      <text />
    </attribute>
  </define>
  <define name="ref">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) Contains authority file data, norm data, other stable and unique identifiers. Sources include: Wikidata, Register-Nummer der Weinlagen, Gemeinsame Normdaten-Datei.</a:documentation>
    <attribute>
      <name ns="">ref</name>
      <choice>
        <text />
        <value>RegNr:</value>
        <value>Wikidata:</value>
        <value>GND:</value>
        <value>enwiki:</value>
        <value>dewiki:</value>
        <value>frwiki:</value>
      </choice>
    </attribute>
  </define>
  <define name="uri">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(uniform resource identifier) Für einen Link zu weiteren Informationen.</a:documentation>
    <attribute>
      <name ns="">uri</name>
      <choice>
        <text />
        <value>https://creativecommons.org/licenses/by/4.0/</value>
        <value>https://github.com/dh-trier/wlv</value>
      </choice>
    </attribute>
  </define>
  <define name="metadata">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">One of two mandatory top-level elements. Contains metadata related to the label description itself.</a:documentation>
    <element>
      <name ns="">metadata</name>
      <ref name="collection" />
      <ref name="curation" />
      <optional>
        <ref name="uri" />
      </optional>
      <zeroOrMore>
        <ref name="licence" />
      </zeroOrMore>
      <optional>
        <ref name="collectionContext" />
      </optional>
      <optional>
        <ref name="comments" />
      </optional>
    </element>
  </define>
  <define name="collection">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The wine label collection the label belongs to.</a:documentation>
    <element>
      <name ns="">collection</name>
      <ref name="collectionID" />
      <optional>
        <text />
      </optional>
    </element>
  </define>
  <define name="collectionID">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A unique identifier for the wine label collection.</a:documentation>
    <attribute>
      <name ns="">collectionID</name>
      <text />
    </attribute>
  </define>
  <define name="curation">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information on the curation process of the wine label description.</a:documentation>
    <element>
      <name ns="">curation</name>
      <oneOrMore>
        <ref name="curatorID" />
      </oneOrMore>
      <ref name="curationDate" />
      <optional>
        <ref name="curationUpdate" />
      </optional>
    </element>
  </define>
  <define name="curatorID">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A unique identifier for the person that has curated the wine label description.</a:documentation>
    <attribute>
      <name ns="">curatorID</name>
      <text />
    </attribute>
  </define>
  <define name="curationDate">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The date (or year) when the wine label description was created.</a:documentation>
    <attribute>
      <name ns="">curationDate</name>
      <choice>
        <data type="int" />
        <data type="date" />
      </choice>
    </attribute>
  </define>
  <define name="curationUpdate">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The date (or year) when the wine label description was last updated.</a:documentation>
    <attribute>
      <name ns="">curationUpdate</name>
      <choice>
        <data type="int" />
        <data type="date" />
      </choice>
    </attribute>
  </define>
  <define name="collectionContext">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any information that describes the individual label in the context of the collection, for example its location in the collection.</a:documentation>
    <element>
      <name ns="">collectionContext</name>
      <optional>
        <ref name="pageID" />
      </optional>
      <optional>
        <ref name="scanID" />
      </optional>
      <optional>
        <text />
      </optional>
    </element>
  </define>
  <define name="pageID">
    <attribute>
      <name ns="">pageID</name>
      <text />
    </attribute>
  </define>
  <define name="scanID">
    <attribute>
      <name ns="">scanID</name>
      <text />
    </attribute>
  </define>
  <define name="licence">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The name of the licence used for the data. </a:documentation>
    <element>
      <name ns="">licence</name>
      <text />
      <optional>
        <ref name="uri" />
      </optional>
      <optional>
        <ref name="licenceAbbr" />
      </optional>
      <ref name="licenceScope" />
    </element>
  </define>
  <define name="licenceAbbr">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Abbreviation for the licence. </a:documentation>
    <attribute>
      <name ns="">licenceAbbr</name>
      <choice>
        <text />
        <value>CC BY</value>
        <value>public domain</value>
      </choice>
    </attribute>
  </define>
  <define name="licenceScope">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The scope of the licence: The part or aspect of the label or label description to which the licence apply. </a:documentation>
    <attribute>
      <name ns="">licenceScope</name>
      <choice>
        <text />
        <value>all</value>
        <value>markup</value>
        <value>visual</value>
        <value>metadata</value>
        <value>textual</value>
      </choice>
    </attribute>
  </define>
  <define name="labelGroup">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A container element to group physically separate labels belonging to one bottle. A label group must have at least one label, but can contain several labels. (If only one label is present, it is recommended not to use labelGroup.)</a:documentation>
    <element>
      <name ns="">labelGroup</name>
      <optional>
        <ref name="comments" />
      </optional>
      <oneOrMore>
        <ref name="label" />
      </oneOrMore>
      <optional>
        <ref name="provenance" />
      </optional>
    </element>
  </define>
  <define name="labelType">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">This describes the label primarily with regard to its geographical scope.</a:documentation>
    <attribute>
      <name ns="">labelType</name>
      <choice>
        <value>Lageetikett</value>
        <value>Gutsetikett</value>
        <value>Ortsetikett</value>
        <value>tbc</value>
        <value>other</value>
        <text />
      </choice>
    </attribute>
  </define>
  <define name="comments">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any comment on the label or the label description, written in prose by the curator(s).</a:documentation>
    <element>
      <name ns="">comments</name>
      <text />
    </element>
  </define>
  <define name="label">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(label) Any single label or physically separate part of a label group.</a:documentation>
    <element>
      <name ns="">label</name>
      <ref name="labelPosition" />
      <ref name="physical" />
      <ref name="visual" />
      <ref name="textual" />
      <optional>
        <ref name="comments" />
      </optional>
      <optional>
        <ref name="provenance" />
      </optional>
    </element>
  </define>
  <define name="labelPosition">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The position of the label on the bottle, used in particular as a way to disinguish the different labels in a label group.</a:documentation>
    <attribute>
      <name ns="">labelPosition</name>
      <choice>
        <value>front</value>
        <value>back</value>
        <value>neck</value>
        <value>wraparound</value>
        <value>band</value>
      </choice>
    </attribute>
  </define>
  <define name="physical">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the physical aspects of the label, in particular shape, size and material.</a:documentation>
    <element>
      <name ns="">physical</name>
      <ref name="shape" />
      <ref name="sizeH" />
      <ref name="sizeV" />
      <ref name="material" />
      <optional>
        <ref name="printingTechnique" />
      </optional>
    </element>
  </define>
  <define name="shape">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the shape of the physical label.</a:documentation>
    <attribute>
      <name ns="">shape</name>
      <choice>
        <value>square</value>
        <value>circle</value>
        <value>rectangle</value>
        <value>oval</value>
        <value>diamond</value>
        <value>trapezoid</value>
        <value>octogon</value>
        <value>circular</value>
        <value>ellipsoid</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="sizeH">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The height of the label measured in millimeters. (This attribute is mandatory, but can also take the value "tbc" if the size data is not available.)</a:documentation>
    <attribute>
      <name ns="">sizeH</name>
      <choice>
        <data type="int" />
        <value>tbc</value>
      </choice>
    </attribute>
  </define>
  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The width of the label measured in millimeters. (This attribute is mandatory, but can also take the value "tbc" if the size data is not available.)</a:documentation>
  <define name="sizeV">
    <attribute>
      <name ns="">sizeV</name>
      <choice>
        <data type="int" />
        <value>tbc</value>
      </choice>
    </attribute>
  </define>
  <define name="material">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The material from which the label is made (in most cases, this is paper). </a:documentation>
    <attribute>
      <name ns="">material</name>
      <choice>
        <value>paper</value>
        <value>plastic</value>
        <value>metal</value>
      </choice>
    </attribute>
  </define>
  <define name="printingTechnique">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The technical printing process used for printing the visual and/or textual information onto the base material. </a:documentation>
    <attribute>
      <name ns="">printingTechnique</name>
      <choice>
        <value>lithograph</value>
        <value>offset</value>
        <value>moving-type</value>
        <value>litho+type</value>
        <value>mixed</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="visual">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any visual and non-textual or non-linguistic elements discernible on the label.</a:documentation>
    <element>
      <name ns="">visual</name>
      <interleave>
        <zeroOrMore>
          <ref name="frame" />
        </zeroOrMore>
        <optional>
          <ref name="background" />
        </optional>
        <zeroOrMore>
          <ref name="figure" />
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="frame">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information about the frame of the label.</a:documentation>
    <element>
      <name ns="">frame</name>
      <text />
      <ref name="frameType" />
      <ref name="frameStyle" />
      <ref name="frameColor" />
    </element>
  </define>
  <define name="frameStyle">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The visual style of the frame. </a:documentation>
    <attribute>
      <name ns="">frameStyle</name>
      <choice>
        <value>lines</value>
        <value>floral</value>
        <value>pattern</value>
        <value>band</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="frameType">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The type of frame, defined based on its position relative to other elements of the label. The value 'outer' means all other elements are within the frame. The value 'inner' means some of the other elements of the label are within, others are outside the frame. </a:documentation>
    <attribute>
      <name ns="">frameType</name>
      <choice>
        <value>outer</value>
        <value>inner</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="frameColor">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The color of the frame. </a:documentation>
    <attribute>
      <name ns="">frameColor</name>
      <choice>
        <value>black</value>
        <value>grey</value>
        <value>gold</value>
        <value>red</value>
        <value>green</value>
        <value>blue</value>
        <value>silver</value>
        <text />
      </choice>
    </attribute>
  </define>
  <define name="background">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information about the background of the label. Needs to be filled in only if there is some special background, other than the blank paper, to the visual and/or textual information provided. </a:documentation>
    <element>
      <name ns="">background</name>
      <text />
      <ref name="backgroundStyle" />
    </element>
  </define>
  <define name="backgroundStyle">
    <attribute>
      <name ns="">backgroundStyle</name>
      <choice>
        <value>pattern</value>
        <value>color</value>
        <value>none</value>
      </choice>
    </attribute>
  </define>
  <define name="figure">
    <a:documentation>(figure) Any visual, figurative element on the label. The label is classified as to its type and position using the attributes. It can be described in the element content using a simple list of terms mentioning each recognizable element of the figure. (In a future iteration of WLV, a controlled vocabulary of visual elements commonly found on wine labels will be made available for this purpose.)</a:documentation>
    <element>
      <name ns="">figure</name>
      <text />
      <ref name="figureNum" />
      <ref name="figureType" />
      <optional>
        <ref name="figurePosition" />
      </optional>
      <zeroOrMore>
        <ref name="figureItem" />
      </zeroOrMore>
    </element>
  </define>
  <define name="figureNum">
    <a:documentation>(figure number) Allows to number several figures for better identification.</a:documentation>
    <attribute>
      <name ns="">figureNum</name>
      <data type="int" />
    </attribute>
  </define>
  <define name="figureType">
    <a:documentation>(figure type) Allows a simple classification of figures into common types.</a:documentation>
    <attribute>
      <name ns="">figureType</name>
      <choice>
        <value>symbolic</value>
        <a:documentation>(figure type: symbolic) Used for any figure that uses realistic elements in a stylized manner.</a:documentation>
        <value>realistic</value>
        <a:documentation>(figure type: realistic) Used for any figure that represents elements from the real world in a recognizable, realistic manner.</a:documentation>
        <value>abstract</value>
        <a:documentation>(figure type: abstract) Used for any figure that predominantly uses abstract shapes, forms and lines without representing a clearly-recognizable element from the real world.</a:documentation>
        <value>seal</value>
        <a:documentation>(figure type: seal) Used for any representation of a seal.</a:documentation>
        <value>coat-of-arms</value>
        <a:documentation>(figure type: coat-of-arms) Used for any representation of a coat of arms.</a:documentation>
        <value>symbolic</value>
        <a:documentation>(figure type: other) To be used sparingly for any kind of figure that eludes classification.</a:documentation>
      </choice>
    </attribute>
  </define>
  <define name="figurePosition">
    <a:documentation>(figure position) The position of the figure on the label surface, in a grid of nine quadrants. The quadrants are numbered like on the number-pad of a phone, starting at the top left with 1 and ending at the bottom right with 9. Any quadrant that the figure covers to a significant extent is included in the position description. (The textual designators are still valid, but will be deprecated.)</a:documentation>
    <attribute>
      <name ns="">figurePosition</name>
      <choice>
        <data type="int" />
        <a:documentation>(figurePosition: integer) Numbers of quadrants covered by the figure.</a:documentation>
        <value>upper-left</value>
        <value>upper-right</value>
        <value>upper-center</value>
        <value>upper-across</value>
        <value>center-left</value>
        <value>center-right</value>
        <value>center-center</value>
        <value>center-across</value>
        <value>lower-left</value>
        <value>lower-right</value>
        <value>lower-center</value>
        <value>lower-across</value>
        <value>left-across</value>
        <value>center-across</value>
        <value>right-across</value>
        <value>full-size</value>
      </choice>
    </attribute>
  </define>
  <define name="figureItem">
    <a:documentation>(figure item) A visual element or depicted object that can be identified in the figure.</a:documentation>
    <element>
      <name ns="">figureItem</name>
        <ref name="itemData" />
    </element>
  </define>
  <define name="itemData">
  <a:documentation>(item data) This attribute provides a fixed vocabulary, in German only, with a very broad category system (Artefakte, Fauna, Flora, Gebäude, Landschaft, Personen, Sonstiges) and a Wikidata identifier in brackets, to name the figure item. (No text content is allowed here. If there is text on a coat of arms or a banderole, it needs to be added under the heading 'textual'.)</a:documentation>
  <attribute>
    <name ns="">itemData</name>
    <choice>
      <value>Banderole (Artefakte;Q2689628)</value>
      <value>Brezel (Artefakte;Q160525)</value>
      <value>Boot (Artefakte;Q35872)</value>
      <value>Globus (Artefakte;Q133792)</value>
      <value>Gemälde (Artefakte;Q3305213)</value>
      <value>Fahrzeug (Artefakte;Q42889)</value>
      <value>Harfe (Artefakte;Q47369)</value>
      <value>Harpune (Artefakte;Q207574)</value>
      <value>Helm (Artefakte;Q910873)</value>
      <value>Hut (Artefakte;Q80151)</value>
      <value>Krone (Artefakte;Q170984)</value>
      <value>Krug (Artefakte;Q766983)</value>
      <value>Medaille (Artefakte;Q131647)</value>
      <value>Musikinstrument (Artefakte;Q)</value>
      <value>Pfeil (Artefakte;Q45922)</value>
      <value>Rad (Artefakte;Q446)</value>
      <value>Schiff (Artefakte;Q11446)</value>
      <value>Siegel (Artefakte;Q162919)</value>
      <value>Schild (Artefakte;Q131559)</value>
      <value>Schlüssel (Artefakte;Q132041)</value>
      <value>Schwert (Artefakte;Q12791)</value>
      <value>Stoff (Artefakte;Q5849500)</value>
      <value>Vase (Artefakte;Q191851)</value>
      <value>Wage (Artefakte;Q134566)</value>
      <value>Wappen (Artefakte;Q14659)</value>
      <value>Weinglas (Artefakte;Q1531435)</value>
      <value>Weinflasche (Artefakte;Q23490)</value>
      <value>Weinfass (Artefakte;Q10289)</value>
      <value>Adler (Fauna;Q2092297)</value>
      <value>Bär (Fauna;Q30090244)</value>
      <value>Feder (Fauna;Q81025)</value>
      <value>Flügel (Fauna;Q161358)</value>
      <value>Hund (Fauna;Q144)</value>
      <value>Katze (Fauna;Q146)</value>
      <value>Löwe (Fauna;Q140)</value>
      <value>Pferd (Fauna;Q726)</value>
      <value>Ochse (Fauna;Q473194)</value>
      <value>Reh/Hirsch (Fauna;Q29838690)</value>
      <value>Schaf (Fauna;Q7368)</value>
      <value>Spinne (Fauna;Q1357)</value>
      <value>Vogel (Fauna;Q5113)</value>
      <value>Baum (Flora;Q10884)</value>
      <value>Blume (Flora;Q886167)</value>
      <value>Blüte (Flora;Q506)</value>
      <value>Pflanze (Flora;Q756)</value>
      <value>Weintraube (Flora;Q10978)</value>
      <value>Weinblätter (Flora;Q33971)</value>
      <value>Weinstock (Flora;Q2135068)</value>
      <value>Burg (Bauwerke;Q23413)</value>
      <value>Brücke (Bauwerke;Q12280)</value>
      <value>Dock (Bauwerke;Q124282)</value>
      <value>Dorf (Bauwerke;Q532)</value>
      <value>Gebäude (Bauwerke;Q41176)</value>
      <value>Fenster (Bauwerke;Q35473)</value>
      <value>Interieur (Bauwerke;Q2998430)</value>
      <value>Keller (Bauwerke;Q43275450)</value>
      <value>Kirchengebäude (Bauwerke;Q16970)</value>
      <value>Mauer (Bauwerke;Q42948)</value>
      <value>Stadt (Bauwerke;Q532)</value>
      <value>Straße (Bauwerke;Q34442)</value>
      <value>Tor/Türe (Bauwerke;Q36794)</value>
      <value>Treppe (Bauwerke;Q12511)</value>
      <value>Turm (Bauwerke;Q12518)</value>
      <value>Zaun (Bauwerke;Q148571)</value>
      <value>Ufer (Landschaft;Q468756)</value>
      <value>Fluss (Landschaft;Q4022)</value>
      <value>Hügel (Landschaft;Q54050)</value>
      <value>Weinberg (Landschaft;Q22715)</value>
      <value>Mann (Personen;Q8441)</value>
      <value>Frau (Personen;Q467)</value>
      <value>Kind (Personen;Q7569)</value>
      <value>Mensch (Personen;Q5)</value>
      <value>Personengruppe (Personen;Q16334295)</value>
      <value>Ritter (Sonstiges;Q102083)</value>
      <value>Satyr (Sonstiges;Q163709)</value>
      <value>Engel (Sonstiges;Q235113)</value>
      <value>Drache (Sonstiges;Q7559)</value>
      <value>Stern (Sonstiges;Q523)</value>
      <value>Mond (Sonstiges;Q405)</value>
      <value>Sonne (Sonstiges;Q525)</value>
      <text />
    </choice>
  </attribute>
</define>
  <define name="fontAttributes">
    <optional>
      <attribute>
        <name ns="">fontType</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding class of historical font types such as Fraktur and Antiqua.</a:documentation>
        <choice>
          <value>Fraktur</value>
          <value>Antiqua-Sans</value>
          <value>Antiqua-Serif</value>
          <value>Cursive</value>
          <value>Altdeutsch</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontManner</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the type of application method of the letters to the paper.</a:documentation>
        <choice>
          <value>printed</value>
          <value>handwritten</value>
          <value>stamped</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontStyle</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the font variant used, such as italics or small caps. Does not need to be specified if it is recte.</a:documentation>
        <choice>
          <value>recte</value>
          <value>italics</value>
          <value>small-caps</value>
          <value>all-caps</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontColor</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The color of the writing.</a:documentation>
        <choice>
          <value>red</value>
          <value>black</value>
          <value>larger</value>
          <text />
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontInitials</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the visual properties of the initials, in particular regarding the color and size of the initials.</a:documentation>
        <choice>
          <value>color:red</value>
          <value>color:black</value>
          <value>color:other</value>
          <value>size:larger</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute>
        <name ns="">fontSize</name>
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information about the approximate, relative font size within the label.</a:documentation>
        <choice>
          <value>larger</value>
          <value>normal</value>
          <value>smaller</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="textual">
    <element>
      <name ns="">textual</name>
      <interleave>
        <optional>
          <ref name="wineMillesime" />
        </optional>
        <zeroOrMore>
          <ref name="wineName" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="wineGrapes" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="wineTaste" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="wineAging" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="wineOther" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityGrapes" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityLevel" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityAward" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityLabel" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityProduction" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="qualityHistorical" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="agent" />
        </zeroOrMore>
        <zeroOrMore>
          <ref name="location" />
        </zeroOrMore>
        <optional>
          <ref name="alcohol" />
        </optional>
        <optional>
          <ref name="volume" />
        </optional>
        <optional>
          <ref name="controlNumber" />
        </optional>
        <optional>
          <ref name="barrelNumber" />
        </optional>
        <optional>
          <ref name="labelNumber" />
        </optional>
        <zeroOrMore>
          <ref name="otherText" />
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="wineMillesime">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The year that the wine was harvested in.</a:documentation>
    <element>
      <name ns="">wineMillesime</name>
      <text />
      <ref name="wineMillesimeNorm" />
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineMillesimeNorm">
    <attribute>
      <name ns="">wineMillesimeNorm</name>
      <data type="int" />
    </attribute>
  </define>
  <define name="wineName">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The name of the wine. Typically printed in a somewhat larger font size than other information. For historical wine labels of the Mosel region, the wine name is typically composed of a location  (Ort, Gemeinde, Leitgemeinde) and the name or nickname of the specific vineyard belonging to that location. Note that the element 'wineName' has, as a consequence, an empty child element 'location' that can appear more than once and may hold information about the location and the vineyard separately. </a:documentation>
    <element>
      <name ns="">wineName</name>
      <text />
      <ref name="wineNameType" />
      <zeroOrMore>
        <ref name="location" />
      </zeroOrMore>
      <optional>
        <ref name="wineNameNorm" />
      </optional>
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="uri" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="fontAttributes" />
      </optional>
    </element>
  </define>
  <define name="wineNameType">
    <attribute>
      <name ns="">wineNameType</name>
      <choice>
        <value>country / Land</value>
        <value>region / Gebiet</value>
        <value>area / Bereich</value>
        <value>locality / Ortsname</value>
        <value>locality / Leitgemeinde</value>
        <value>winery / Weingut</value>
        <value>vineyard / historischer Lagenname</value>
        <value>vineyard / Großlage</value>
        <value>vineyard / Einzellage</value>
        <value>variety / Rebsorte</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="wineNameNorm">
    <attribute>
      <name ns="">wineNameNorm</name>
      <text />
    </attribute>
  </define>
  <define name="wineColor">
    <element>
      <name ns="">wineColor</name>
      <text />
      <ref name="wineColorNorm" />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineColorNorm">
    <attribute>
      <name ns="">wineColorNorm</name>
      <choice>
        <value>red (Rotwein)</value>
        <value>white (Weisswein)</value>
        <value>rose (Rosé/Rotling)</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="wineGrapes">
    <element>
      <name ns="">wineGrapes</name>
      <text />
      <ref name="wineGrapesNorm" />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineGrapesNorm">
    <attribute>
      <name ns="">wineGrapesNorm</name>
      <choice>
        <value>Riesling</value>
        <value>Müller-Thurgau/Rivaner</value>
        <value>Elbling</value>
        <value>Spätburgunder</value>
        <value>Grauburgunder</value>
        <value>Chardonnay</value>
        <value>Auxerrois</value>
        <value>Weißburgunder</value>
        <value>other</value>
        <text />
      </choice>
    </attribute>
  </define>
  <define name="wineTaste">
    <element>
      <name ns="">wineTaste</name>
      <text />
      <ref name="wineTasteNorm" />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineTasteNorm">
    <attribute>
      <name ns="">tasteGroupNorm</name>
      <choice>
        <value>dry (trocken)</value>
        <value>semi-dry (halbtrocken feinherb)</value>
        <value>semi-sweet (lieblich)</value>
        <value>sweet (süß)</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="wineAging">
    <element>
      <name ns="">wineAging</name>
      <text />
      <ref name="wineAgingNorm" />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineAgingNorm">
    <attribute>
      <name ns="">wineAgingNorm</name>
      <choice>
        <value>barrique</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="wineOther">
    <element>
      <name ns="">wineOther</name>
      <text />
      <optional>
        <ref name="wineOtherType" />
      </optional>
      <optional>
        <ref name="ref" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="wineOtherType">
    <attribute>
      <name ns="">wineOtherType</name>
      <choice>
        <value>additives</value>
        <value>usage</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="wdw">
    <attribute>
      <name ns="">wdw</name>
      <choice>
        <text />
        <value>http://wdw.uni-trier.de/onlinewb/index.php3?ID</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityGrapes">
    <element>
      <name ns="">qualityGrapes</name>
      <text />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="qualityGrapesNorm" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityGrapesNorm">
    <attribute>
      <name ns="">qualityGrapesNorm</name>
      <choice>
        <value>Kabinett</value>
        <value>Spätlese</value>
        <value>Auslese</value>
        <value>Beerenauslese</value>
        <value>Trockenbeerenauslese</value>
        <value>Eiswein</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityLevel">
    <element>
      <name ns="">qualityLevel</name>
      <text />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="qualityLevelNorm" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityLevelNorm">
    <attribute>
      <name ns="">qualityLevelNorm</name>
      <choice>
        <value>Tafelwein/Wein</value>
        <value>Landwein</value>
        <value>Qualitätswein</value>
        <value>Prädikatswein</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityAward">
    <element>
      <name ns="">qualityAward</name>
      <text />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="qualityAwardNorm" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityAwardNorm">
    <attribute>
      <name ns="">qualityAwardNorm</name>
      <choice>
        <value>Weinprämierung</value>
        <value>Gütezeichen</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityLabel">
    <element>
      <name ns="">qualityLabel</name>
      <text />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="qualityLabelType" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityLabelType">
    <attribute>
      <name ns="">qualityLabelType</name>
      <choice>
        <value>vineyard</value>
        <value>grapes</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityProduction">
    <element>
      <name ns="">qualityProduction</name>
      <text />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="qualityProductionNorm" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="qualityProductionNorm">
    <attribute>
      <name ns="">qualityProductionNorm</name>
      <choice>
        <value>on-location</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="qualityHistorical">
    <element>
      <name ns="">qualityHistorical</name>
      <text />
      <optional>
        <ref name="wdw" />
      </optional>
      <optional>
        <ref name="ref" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="agent">
    <element>
      <name ns="">agent</name>
      <text />
      <ref name="agentRole" />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="uri" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="agentRole">
    <attribute>
      <name ns="">agentRole</name>
      <choice>
        <value>cultivation / Anbau</value>
        <value>production / Weinbau</value>
        <value>distribution / Vertrieb</value>
        <value>cooperative / Kooperative</value>
        <value>printer / Drucker</value>
        <value>artist / Künstler/in</value>
        <value>multiple / verschiedene</value>
        <value>other / andere</value>
      </choice>
    </attribute>
  </define>
  <define name="location">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Any location, such as the name of a region, city, village, or vineyard mentioned on the label.</a:documentation>
    <element>
      <name ns="">location</name>
      <text />
      <ref name="locationType" />
      <optional>
        <ref name="locationRole" />
      </optional>
      <optional>
        <ref name="locationNorm" />
      </optional>
      <optional>
        <ref name="locationRegNr" />
      </optional>
      <optional>
        <ref name="figureNum" />
      </optional>
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="uri" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="locationRole">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The role of the location.</a:documentation>
    <attribute>
      <name ns="">locationRole</name>
      <choice>
        <value>cultivation / Anbau</value>
        <value>production / Weinbau</value>
        <value>distribution / Vertrieb</value>
        <value>cooperative / Kooperative</value>
        <value>printer / Drucker</value>
        <value>artist / Künstler/in</value>
        <value>multiple / verschiedene</value>
        <value>other / andere</value>
      </choice>
    </attribute>
  </define>
  <define name="locationType">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The type of the location, in particular with respect to the broader or narrower geographical scope. (Note that when this is part of the wine name, it is correlated, in German wine law, with quality levels.)</a:documentation>
    <attribute>
      <name ns="">locationType</name>
      <choice>
        <value>country / Land</value>
        <value>region / Gebiet</value>
        <value>area / Bereich</value>
        <value>locality / Ortsname</value>
        <value>locality / Leitgemeinde</value>
        <value>winery / Weingut</value>
        <value>vineyard / historischer Lagenname</value>
        <value>vineyard / Großlage</value>
        <value>vineyard / Einzellage</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="locationNorm">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The name of the location in a normalized form.</a:documentation>
    <attribute>
      <name ns="">locationNorm</name>
      <text />
    </attribute>
  </define>
  <define name="locationRegNr">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The numerical identifier of a vineyard contained in the official "Lagenliste".</a:documentation>
    <attribute>
      <name ns="">locationRegNr</name>
      <text/>
    </attribute>
  </define>
  <define name="alcohol">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information relevant to the alcohol content of the wine.</a:documentation>
    <element>
      <name ns="">alcohol</name>
      <text />
      <ref name="alcoholNorm" />
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="alcoholNorm">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The percentage of alcohol, expressed as number (float).</a:documentation>
    <attribute>
      <name ns="">alcoholNorm</name>
      <data type="float" />
    </attribute>
  </define>
  <define name="volume">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the volume of the wine.</a:documentation>
    <element>
      <name ns="">volume</name>
      <text />
      <ref name="volumeNorm" />
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="volumeNorm">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The indication of the volume of wine, expressed as a number (integer of milliliters).</a:documentation>
    <attribute>
      <name ns="">volumeNorm</name>
      <data type="int" />
    </attribute>
  </define>
  <define name="controlNumber">
    <element>
      <name ns="">controlNumber</name>
      <text />
      <optional>
        <ref name="ref" />
      </optional>
      <optional>
        <ref name="controlNumberType" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="controlNumberType">
    <attribute>
      <name ns="">controlNumberType</name>
      <choice>
        <text />
        <value>Amtliche Prüfnummer (Q480240)</value>
        <value>Losnummer</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="barrelNumber">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The number of the barrel as mentioned on the label.</a:documentation>
    <element>
      <name ns="">barrelNumber</name>
      <text />
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="labelNumber">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The number or identifyer of the label usually assigned by the printer.</a:documentation>
    <element>
      <name ns="">labelNumber</name>
      <text />
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="otherText">
    <element>
      <name ns="">otherText</name>
      <ref name="textType" />
      <ref name="textPosition" />
      <text />
      <optional>
        <ref name="figureNum" />
      </optional>
      <ref name="fontAttributes" />
    </element>
  </define>
  <define name="textType">
    <attribute>
      <name ns="">textType</name>
      <choice>
        <value>coat-text</value>
        <value>motto</value>
        <value>quotation</value>
        <value>slogan</value>
        <value>statement</value>
        <value>copyright</value>
        <value>vineyard (Lage)</value>
        <value>other</value>
      </choice>
    </attribute>
  </define>
  <define name="textPosition">
    <attribute>
      <name ns="">textPosition</name>
      <choice>
        <value>stand-alone</value>
        <value>in-figure</value>
      </choice>
    </attribute>
  </define>
  <define name="provenance">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the provenance of the label, in prose. This information can be derived either from the label itself, or from contextual or otherwise external information.</a:documentation>
    <element>
      <name ns="">provenance</name>
      <optional>
        <ref name="dating" />
      </optional>
      <optional>
        <ref name="source" />
      </optional>
      <optional>
        <ref name="scan" />
      </optional>
      <optional>
        <ref name="conservation" />
      </optional>
    </element>
  </define>
  <define name="dating">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the supposed time of production of the label (especially relevant if no millesime is present.</a:documentation>
    <element>
      <name ns="">dating</name>
      <optional>
        <ref name="year" />
      </optional>
      <optional>
        <ref name="notBefore" />
      </optional>
      <optional>
        <ref name="notAfter" />
      </optional>
      <optional>
        <ref name="certainty" />
      </optional>
      <optional>
        <text />
      </optional>
    </element>
  </define>
  <define name="year">
    <attribute>
      <name ns="">year</name>
      <data type="gYear" />
    </attribute>
  </define>
  <define name="notBefore">
    <attribute>
      <name ns="">notBefore</name>
      <data type="int" />
    </attribute>
  </define>
  <define name="notAfter">
    <attribute>
      <name ns="">notAfter</name>
      <data type="int" />
    </attribute>
  </define>
  <define name="certainty">
    <attribute>
      <name ns="">certainty</name>
      <choice>
        <value>source</value>
        <value>evidence</value>
        <value>estimate</value>
        <value>low</value>
      </choice>
    </attribute>
  </define>
  <define name="source">
    <element>
      <name ns="">source</name>
      <text />
      <optional>
        <ref name="year" />
      </optional>
    </element>
  </define>
  <define name="scan">
    <element>
      <name ns="">scan</name>
      <ref name="scanID" />
      <optional>
        <text />
      </optional>
    </element>
  </define>
  <define name="conservation">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the state of physical conservation of the label, in the form of a prose description.</a:documentation>
    <element>
      <name ns="">conservation</name>
      <ref name="conservationNorm" />
      <text />
    </element>
  </define>
  <define name="conservationNorm">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Information regarding the state of physical conservation of the label, in short normed form.</a:documentation>
    <attribute>
      <name ns="">conservationNorm</name>
      <choice>
        <value>new</value>
        <value>like new</value>
        <value>very good</value>
        <value>good</value>
        <value>acceptable</value>
        <value>damaged</value>
        <value>incomplete</value>
      </choice>
    </attribute>
  </define>
</grammar>
